<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Confirm forgot password</title>
</head>
<body>
<h1 th:text="${data.message}"></h1>
<th:block th:if="${data.isValid == true}">
    <form id="change-password">
        <div>
            <label>
                Mat khau moi
                <input type="password" name="password" id="password"/>
            </label>
        </div>
        <div>
            <button type="submit">Doi</button>
        </div>
    </form>
</th:block>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script th:inline="javascript">
    // Lấy URL hiện tại
    let currentUrl = window.location.href;
    let tokenEl = new URL(currentUrl).searchParams.get("token")
    console.log(tokenEl)
    let data = [[${data}]]

    const form = document.querySelector("#change-password")
    const passEl = document.querySelector("#password")

    form.addEventListener("submit",async (e)=>{
        e.preventDefault()

        const request = {
            newPassword: passEl.value,
            token: tokenEl
        }
        console.log(request)
        try{
            const res = await axios.post("http://localhost:8080/api/v1/auth/update-password", request)

            if(res.status === 200){
                console.log(res.data)
                alert(res.data)
            }else {
                alert("dang ki that bai")
            }
        }catch (e) {
            alert(e.response.data.message)
        }
    })

</script>
</html>