<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Confirm forgot password</title>
</head>
<body>
<h1 th:text="${data.message}"></h1>
<th:block th:if="${data.isValid == true}">
    <form id="change-password">
        <div>
            <label>
                Mat khau moi
                <input type="password" name="password" id="password"/>
            </label>
        </div>
        <div>
            <button type="submit">Doi</button>
        </div>
    </form>
</th:block>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>

</script>
</html>