<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Confirm forgot password</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

    <link rel="stylesheet" href="/admin/plugins/fontawesome-free/css/all.min.css">

    <link rel="stylesheet" href="/admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css">

    <link rel="stylesheet" href="/admin/dist/css/adminlte.min.css?v=3.2.0">
</head>
<body  class="hold-transition login-page">

<!--<h1 th:text="${data.message}"></h1>-->
<!--th:if="${data.isValid == true}"-->
<th:block>
    <div class="login-box">
        <div class="login-logo">
            <h4>Cập nhật mật khẩu</h4>
        </div>

        <div class="card">
            <div class="card-body login-card-body">
                <form id="form-update-password">
                    <div class="form-group input-group mb-3">
                        <input name="password" id="password" type="password" class="form-control" placeholder="Mật khẩu">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group input-group mb-3">
                        <input name="confirmPassword" id="confirmPassword" type="password" class="form-control" placeholder="Xác nhận mật khẩu">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Cập nhật mật khẩu</button>
                        </div>

                    </div>
                </form>
            </div>

        </div>
    </div>
</th:block>
</body>

<script src="/admin/plugins/jquery/jquery.min.js"></script>

<script src="/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="/admin/dist/js/adminlte.min.js?v=3.2.0"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js"
        integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/additional-methods.min.js"
        integrity="sha512-TiQST7x/0aMjgVTcep29gi+q5Lk5gVTUPE9XgN0g96rwtjEjLpod4mlBRKWHeBcvGBAEvJBmfDqh2hfMMmg+5A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script th:inline="javascript">
    // validation
    $('#form-update-password').validate({
        rules: {
            password: {
                required: true,
                minlength: 5
            },
            confirmPassword: {
                required: true,
                equalTo: '#password'
            },
        },
        messages: {
            password: {
                required: "mật khẩu không được để trống",
                minlength: "mật khẩu không được ít hơn 5 kí tự"
            },
            confirmPassword: {
                required: "xác nhận mật khẩu không được để trống",
                equalTo: "mật khẩu và xác nhận mật khẩu không khớp"
            },
        },
        errorElement: 'span',
        errorPlacement: function (error, element) {
            error.addClass('invalid-feedback');
            element.closest('.form-group').append(error);
        },
        highlight: function (element, errorClass, validClass) {
            $(element).addClass('is-invalid');
        },
        unhighlight: function (element, errorClass, validClass) {
            $(element).removeClass('is-invalid');
        }
    });


    // Lấy URL hiện tại
    let currentUrl = window.location.href;
    let tokenEl = new URL(currentUrl).searchParams.get("token")
    console.log(tokenEl)
    let data = [[${data}]]

    const form = document.querySelector("#form-update-password")
    const passEl = document.querySelector("#password")

    form.addEventListener("submit",async (e)=>{
        e.preventDefault()

        const request = {
            newPassword: passEl.value,
            token: tokenEl
        }
        console.log(request)
        try{
            const res = await axios.post("/api/v1/auth/recover-password", request)

            if(res.status === 200){
                console.log(res.data)
                alert(res.data)
            }else {
                alert("dang ki that bai")
            }
        }catch (e) {
            alert(e.response.data.message)
        }
    })

</script>
</html>