<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layoutAdmin :: admin-layout(~{:: title}, ~{}, ~{:: #content}, ~{})}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin-course</title>

</head>

<body>
    <th:block id="content">

        <div class="admin-container mt-5">
            <div class="container ">
                <div class="mb-4 d-flex justify-content-between">
                    <div>
                        <a href="./create"><button class="btn btn-primary">
                            <i class="fa-solid fa-plus"></i>
                            Tạo khóa học</button></a>
                        <button class="btn btn-info text-white">
                            <i class="fa-solid fa-rotate-right"></i>
                            Làm mới</button>
                    </div>
                </div>

                <div class="course-table mt-4">
                    <table style="width: 100%" class="table table-bordered">
                        <tr>
                            <th style="width: 10%">STT</th>
                            <th style="width: 40%">Tên khóa học</th>
                            <th style="width: 15%">Hình thức</th>
                            <th style="width: 35%">Chủ đề</th>
                        </tr>
                        <tr th:each="course : ${courselist}">
                            <td th:text="${course.id}"></td>
                            <td class="text-primary" ><a th:href="@{|/admin/course/${course.id}|}" th:text="${course.name}"></a></td>
                            <td th:class="${course.type == 'online' ? 'text-warning' : 'text-info'}" th:text="${course.type == 'online' ? 'online' : 'onlab'}"></td>
                            <td>
                                <span class="badge bg-secondary me-2" th:each="topic : ${course.topics}" th:text="${topic}"></span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </th:block>

</body>

</html>