<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layoutAdmin :: admin-layout(~{:: title}, ~{:: #css}, ~{:: #content}, ~{:: #js})}">
<head>
    <meta charset="UTF-8">
    <title>Tạo khóa học</title>
    <th:block id="css">
        <!-- Link select2 -->
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    </th:block>
</head>
<body>
    <th:block id="content">
        <div class="create-container mt-5">
            <div class="container">
                <div>
                    <a href="./create"><button class="btn btn-primary">
                        <i class="fa-solid fa-plus"></i>
                        Tạo</button></a>
                    <button class="btn btn-info text-white">
                        <i class="fa-solid fa-chevron-left"></i>
                        Quay lại</button>
                </div>
                <div class="row create-form mt-4 bg-white">
                    <div class="col-md-8 mt-2 mb-2">
                        <div class="mb-3">
                            <label for="course-name" class="form-label fw-bolder mt-2 ms-2">Tên khóa học</label>
                            <input type="text" class="form-control" id="course-name">
                        </div>
                        <div class="mb-3">
                            <label for="course-description" class="form-label ms-2 fw-bolder">Mô tả</label>
                            <textarea class="form-control" id="course-description" rows="10"></textarea>
                        </div>
                    </div>
                    <div class="col-md-4 mt-2 mb-2">
                        <div class="mb-3">
                            <label for="course-type"  class="form-label fw-bolder mt-2 ms-2">Hình thức học</label>
                            <select class="form-select" id="course-type">
                                <option selected>-Chọn hình thức học</option>
                                <option value="Online">Online</option>
                                <option value="Onlab">Onlab</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="course-topic" class="form-label fw-bolder ms-2">Chủ đề</label>
                            <select class="form-select" id="course-topic" multiple="multiple">
                                <option th:each="topic : ${topicList}" th:value="${topic}" th:text="${topic}"></option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="course-supporter" class="form-label fw-bolder ms-2">Tư vấn viên</label>
                            <select class="form-select" id="course-supporter">
                                <option selected>-Chọn tư vấn viên</option>
                                <option th:each="user : ${userList}" th:value="${user.name}" th:text="${user.name}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>

    <th:block id="js">
        <!-- select2 -->
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

        <script>
            const courseTopic = $("#course-topic");

            // Kích hoạt select2
            courseTopic.select2({
                placeholder: "- Chọn chủ đề",
            });
        </script>
    </th:block>
</body>
</html>