<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>form Login</h1>
    <form th:action="@{/login-process}" method="post">
        <div>
            <label>
                UserName
                <input type="text" name="name" />
            </label>
        </div>
        <div>
            <label>
                Password
                <input type="password" name="pass" />
            </label>
        </div>
        <div>
            <button type="submit">dang nhap</button>
        </div>
    </form>

</body>
</html>