<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/web/layout/web-layout :: web-layout(~{:: title}, ~{}, ~{:: #content}, ~{:: #js})}">
<head>
<!--    &lt;!&ndash; Basic &ndash;&gt;-->
<!--    <meta charset="utf-8"/>-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>-->
<!--    &lt;!&ndash; Mobile Metas &ndash;&gt;-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>-->
<!--    &lt;!&ndash; Site Metas &ndash;&gt;-->
<!--    <meta name="keywords" content=""/>-->
<!--    <meta name="description" content=""/>-->
<!--    <meta name="author" content=""/>-->
<!--    <link rel="shortcut icon" href="/web/images/favicon.png" type="">-->

    <title> Feane </title>

<!--    &lt;!&ndash; bootstrap core css &ndash;&gt;-->
<!--    <link rel="stylesheet" type="text/css" href="/web/css/bootstrap.css"/>-->

<!--    &lt;!&ndash;owl slider stylesheet &ndash;&gt;-->
<!--    <link rel="stylesheet" type="text/css"-->
<!--          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>-->
<!--    &lt;!&ndash; nice select  &ndash;&gt;-->
<!--    <link rel="stylesheet"-->
<!--          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css"-->
<!--          integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ=="-->
<!--          crossorigin="anonymous"/>-->
<!--    &lt;!&ndash; font awesome style &ndash;&gt;-->
<!--    <link href="/web/css/font-awesome.min.css" rel="stylesheet"/>-->

<!--    &lt;!&ndash; Custom styles for this template &ndash;&gt;-->
<!--    <link href="/web/css/style.css" rel="stylesheet"/>-->
<!--    &lt;!&ndash; responsive style &ndash;&gt;-->
<!--    <link href="/web/css/responsive.css" rel="stylesheet"/>-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"-->
<!--          integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA=="-->
<!--          crossorigin="anonymous" referrerpolicy="no-referrer"/>-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />-->

</head>
<body>
<!--<header class="header_section p-0 d-flex justify-content-center"-->
<!--        style="width: 100%;position: fixed;background-color: #626262;z-index: 5">-->

<!--    <div class="container">-->
<!--        <nav class="navbar navbar-expand-lg custom_nav-container ">-->
<!--            <a class="navbar-brand" href="/">-->
<!--            <span>-->
<!--              Feane-->
<!--            </span>-->
<!--            </a>-->

<!--            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"-->
<!--                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--                <span class=""> </span>-->
<!--            </button>-->

<!--            <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--                <ul class="navbar-nav  mx-auto ">-->
<!--                    <li class="nav-item active">-->
<!--                        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="menu.html">Menu</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="about.html">About</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="book.html">Book Table</a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--                <div class="user_option">-->
<!--                    <div style="position: relative" class="show-user-infor">-->
<!--                        <button id="user-infor-btn" style="background-color: transparent;-->
<!--                                      border: none;-->
<!--                                      padding: 2px 4px;-->
<!--                                      font-size: 16px;-->
<!--                                      cursor: pointer;-->
<!--                                      opacity: 0.7; /* Độ trong suốt của button */"-->
<!--                                class="user_link" data-toggle="modal" data-target="#modal-default">-->
<!--                            <i style="font-size: 26px" class="fa fa-user" aria-hidden="true"></i>-->
<!--                            <th:block sec:authorize="not isAuthenticated()">Thành viên</th:block>-->
<!--                            <th:block sec:authorize="isAuthenticated()">-->
<!--                                Hi-->
<!--                                <th:block th:text="${#authentication.principal.getFullName()}"></th:block>-->
<!--                            </th:block>-->

<!--                        </button>-->
<!--                        <div class="user-infor" sec:authorize="isAuthenticated()">-->
<!--                            <ul style="background-color: white;-->
<!--                                            list-style-type: none; padding: 8px 8px; border-radius: 4px">-->
<!--                                <li th:attr="data-id=${#authentication.principal.getUserId()}" class="user-infor-item">-->
<!--                                    <a class="text-dark" href="#">Thông tin cá nhân</a></li>-->
<!--                                <li class="user-infor-item"><a class="text-dark" href="/logout">Đăng xuất</a></li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="" style="position: relative">-->
<!--                        <a class="cart_link" style="position: relative; margin: 0 14px" href="#">-->
<!--                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"-->
<!--                                 viewBox="0 0 456.029 456.029"-->
<!--                                 style="enable-background:new 0 0 456.029 456.029;width: 26px" xml:space="preserve">-->
<!--                  <g>-->
<!--                    <g>-->
<!--                      <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248-->
<!--                   c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z"></path>-->
<!--                    </g>-->
<!--                  </g>-->
<!--                                <g>-->
<!--                    <g>-->
<!--                      <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48-->
<!--                   C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064-->
<!--                   c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4-->
<!--                   C457.728,97.71,450.56,86.958,439.296,84.91z"></path>-->
<!--                    </g>-->
<!--                  </g>-->
<!--                                <g>-->
<!--                    <g>-->
<!--                      <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296-->
<!--                   c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z"></path>-->
<!--                    </g>-->
<!--                  </g>-->
<!--                                <g>-->
<!--                  </g>-->
<!--                                <g>-->
<!--                  </g>-->
<!--                                <g>-->
<!--                  </g>-->
<!--                                <g>-->
<!--                  </g>-->
<!--                                <g>-->
<!--                  </g>-->
<!--                                <g>-->
<!--                  </g>-->
<!--                                <g>-->
<!--                  </g>-->
<!--                                <g>-->
<!--                  </g>-->
<!--                                <g>-->
<!--                  </g>-->
<!--                                <g>-->
<!--                  </g>-->
<!--                                <g>-->
<!--                  </g>-->
<!--                                <g>-->
<!--                  </g>-->
<!--                                <g>-->
<!--                  </g>-->
<!--                                <g>-->
<!--                  </g>-->
<!--                                <g>-->
<!--                  </g>-->
<!--                </svg>-->
<!--                            <span class="cart-notice" >0</span>-->
<!--                        </a>-->
<!--                        <div class="cart-list">-->
<!--                            <ul class="header__cart-list-item">-->

<!--                            </ul>-->
<!--                            <a style="margin-bottom: 20px" href="#" class="header__cart-view-cart btn btn-danger">Xem-->
<!--                                giỏ hàng</a>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                </div>-->
<!--            </div>-->
<!--        </nav>-->
<!--    </div>-->
<!--</header>-->
<th:block id="content">
    <section>
        <section class="content" style="padding-top: 100px;">
            <div class="container">
                <!--               -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Ngày mua hàng</th>
                                        <th>Ghi chú</th>
                                        <th>Tổng tiền</th>
                                        <th>Thông tin khách hàng</th>
                                        <th>Sản phẩm</th>
                                        <th>Tình trạng</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="order : ${pageData.getContent()}">
                                        <td class="id-order" th:text="${order.id}">
                                            1
                                        </td>
                                        <td th:text="${#temporals.format(order.orderDate, 'dd/MM/yyyy')}">piZZA
                                        </td>
                                        <td th:text="${order.note}">50
                                        </td>
                                        <td th:text="${#numbers.formatCurrency(order.totalPrice - order.discountValue)}">
                                        </td>
                                        <td >
                                            <span th:text="${order.name}"></span>
                                            <br>
                                            <span th:text="${order.phone}"></span>
                                            <br>
                                            <span th:text="${order.address}"></span>,
                                            <span th:text="${order.ward}"></span>,
                                            <span th:text="${order.district}"></span>,
                                            <span th:text="${order.provine}"></span>
                                        </td>
                                        <td>
                                            <a th:href="@{/product-detail/{id}(id = ${order.id})}" target="_blank">Chi tiết sản phẩm</a>

                                        </td>
                                        <td class="statusValue " style="text-align: center" >
                                        <span th:switch="${order.status.value}">
                                                    <span th:case="'Chờ xác nhận'" class="badge badge-warning" th:text="${order.status.value}"></span>
                                                    <span th:case="'Đang đóng gói'" class="badge badge-info" th:text="${order.status.value}"></span>
                                                    <span th:case="'Đang giao hàng'" class="badge badge-success" th:text="${order.status.value}"></span>
                                                    <span th:case="'Đã giao'" class="badge badge-danger" th:text="${order.status.value}"></span>
                                                    <span th:case="'Hủy đơn'" class="badge badge-secondary" th:text="${order.status.value}"></span>
                                                    <span th:case="*" class="badge" th:text="${order.status.value}"></span>
                                              </span>
                                        </td>
                                        <td >
                                            <button th:if="${order.status.value} == 'Chờ xác nhận'" class="btn btn-danger mt-2" onclick="cancelOrder(this.parentNode.parentNode)">
                                                Hủy
                                            </button>
                                        </td>
                                        <!--                                    th:classappend="${order.status.value == 'Chờ xác nhận'} ? '' : 'disabledbutton'"-->
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="d-flex justify-content-center mt-3" id="pagination" th:if="${pageData.getTotalPages() != 1}">
                                    <ul class="pagination mb-0">
                                        <li class="paginate_button page-item previous"
                                            th:classappend="${currentPage == 1 ? 'disabled' : ''}"
                                            id="example2_previous">
                                            <a th:href="@{/order (page=${currentPage - 1})}"
                                               class="page-link">Previous</a>
                                        </li>
                                        <li class="paginate_button page-item"
                                            th:classappend="${number == currentPage ? 'active' : ''}"
                                            th:each="number : ${#numbers.sequence(1, pageData.totalPages)}">
                                            <a th:href="@{/order (page=${number})}"
                                               class="page-link"
                                               th:text="${number}">1</a>
                                        </li>
                                        <li class="paginate_button page-item next"
                                            th:classappend="${currentPage == pageData.totalPages ? 'disabled' : ''}"
                                            id="example2_next">
                                            <a th:href="@{/order (page=${currentPage + 1})}"
                                               class="page-link">Next</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</th:block>

<!--&lt;!&ndash; jQery &ndash;&gt;-->
<!--<script src="/web/js/jquery-3.4.1.min.js"></script>-->
<!--&lt;!&ndash; popper js &ndash;&gt;-->
<!--<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"-->
<!--        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">-->
<!--</script>-->
<!--&lt;!&ndash; bootstrap js &ndash;&gt;-->
<!--<script src="/web/js/bootstrap.js"></script>-->
<!--&lt;!&ndash; owl slider &ndash;&gt;-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">-->
<!--</script>-->
<!--&lt;!&ndash; isotope js &ndash;&gt;-->
<!--<script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>-->
<!--&lt;!&ndash; nice select &ndash;&gt;-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>-->
<!--&lt;!&ndash; custom js &ndash;&gt;-->
<!--&lt;!&ndash;<script src="/web/js/custom.js"></script>&ndash;&gt;-->

<!--<script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"-->
<!--        integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="-->
<!--        crossorigin="anonymous" referrerpolicy="no-referrer"></script>-->


<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"-->
<!--        integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="-->
<!--        crossorigin="anonymous" referrerpolicy="no-referrer"></script>-->

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js"-->
<!--        integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A=="-->
<!--        crossorigin="anonymous" referrerpolicy="no-referrer"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/additional-methods.min.js"-->
<!--        integrity="sha512-TiQST7x/0aMjgVTcep29gi+q5Lk5gVTUPE9XgN0g96rwtjEjLpod4mlBRKWHeBcvGBAEvJBmfDqh2hfMMmg+5A=="-->
<!--        crossorigin="anonymous" referrerpolicy="no-referrer"></script>-->
<th:block id="js">
    <script th:inline="javascript">
        const res = [[${orders}]]
        console.log(res)

        async function cancelOrder(row) {

            let idOrder = row.querySelector('.id-order').textContent;
            let status = row.querySelector('.statusValue').textContent;

            const data = {
                orderId:Number(idOrder),
                status:status
            }
            console.log(data)
            try{
                const res = await axios.post('/api/v1/order/updateStatusByUser', data)
                console.log(res.data)
                toastr.success("Thay đổi thành công")
                setTimeout(() => {
                    window.location.href = "/order"
                }, 1000)
            }catch (e){
                console.log(e)
                toastr.error(e.response.data.message)
            }
        }
    </script>
</th:block>

</body>
</html>