<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/admin/layout/admin-layout :: admin-layout(~{:: title}, ~{:: #css}, ~{:: #content}, ~{:: #js})}">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>AdminLTE 3 | Dashboard</title>

    <th:block id="css">
        <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css" />

        <link rel="stylesheet" href="/plugins/select2/css/select2.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.6.0/pagination.min.css"
              integrity="sha512-K1k7jSn9RDKEcn/ugqVVvWYu0bcS3q1w6m/5pQSnrj0bCfIqF6Wk49lkmckSb4wglvTP9V17LtS0q0XxYccXbg=="
              crossorigin="anonymous" referrerpolicy="no-referrer"/>
        <link rel="stylesheet" href="/dist/css/style.css">
        <style>
            .modal-dialog {
                max-width: 1000px;
            }

            .image-container {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 10px;
            }

            .image-item {
                height: 150px;
                border: 2px solid #eee;
            }

            .image-item.selected {
                border-color: #28a745!important;
                border-width: 4px !important;
            }

            .image-item img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        </style>
    </th:block>

</head>

<body class="hold-transition sidebar-mini layout-fixed">

    <th:block id="content">
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-12">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#">Dashboard</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="/admin/users">User</a>
                                </li>
                                <li class="breadcrumb-item active" >
                                    Thực hành làm ứng dụng Meal Finder API

                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row py-2">
                        <div class="col-6">
                            <button type="button" class="btn btn-default">
                                <i class="fas fa-chevron-left"></i> Quay lại
                            </button>
                            <button id="save" type="button" class="btn btn-info px-4">
                                Cập nhật
                            </button>
                            <button type="button" class="btn btn-primary px-4">
                                Reset mật khẩu
                            </button>
                        </div>

                        <div class="col-6 d-flex justify-content-end">
<!--                            <a href="/admin/blogs">-->
                                <button id="delete-blog" type="button" class="btn btn-danger px-4">
                                    Xóa
                                </button>
<!--                            </a>-->

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <form id="form">
                                                <div class="form-group">
                                                    <label>Họ tên</label>
                                                    <input type="text" name="name" class="form-control" id="name" value="abc"/>
                                                </div>

                                                <div class="form-group">
                                                    <label>Email</label>
                                                    <input id="email" name="email" class="form-control" value="abc@gmail.com"/>
                                                </div>

                                                <div class="form-group">
                                                    <label>Quyền</label>
                                                    <div class="select2-purple">
                                                        <select id="role" name="role" class="select2 form-control" multiple="multiple">
                                                            <option>admin</option>
                                                            <option>user</option>
                                                        </select>
                                                    </div>

                                                </div>
                                            </form>

                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Avatar</label>
                                                <div class="thumbnail-preview-container mb-3">
                                                    <img th:src="'https://placehold.co/600x400'" alt="" id="thumbnail"/>
                                                </div>
                                                <button type="button" class="btn btn-info btn-flat" data-toggle="modal"
                                                        data-target="#modal-xl">
                                                    Chọn hình ảnh
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="modal fade" id="modal-xl" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Danh sách ảnh</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <button class="btn btn-success" id="btn-chose-image" disabled>Chọn ảnh</button>

                                    <label for="avatar" class="btn btn-warning mb-0">Upload ảnh</label>
                                    <input type="file" id="avatar" class="d-none">
                                </div>
                                <div>
                                    <button class="btn btn-danger" id="btn-delete-image" disabled>Xóa ảnh</button>
                                </div>
                            </div>
                            <!-- Hiển thị danh sách ảnh -->
                            <div class="image-container mt-4 mb-4">
                                <div class="image-item">
                                    <img src="https://images.unsplash.com/photo-1656918931725-2f9d9fce4acb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw4fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=800&q=60"
                                         alt="">
                                </div>
                            </div>

                            <!-- Hiển thị phần phân trang -->
                            <div class="pagination-container d-flex justify-content-center">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>


    <th:block id="js">
        <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
        <script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>

        <script src="/plugins/select2/js/select2.full.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.6.0/pagination.min.js"
                integrity="sha512-GzbaI5EsNzdEUq6/2XLYpr1y9CUZRIVsUeWTAFgULtQa5jZ3Nug8i0nZKM6jp9NffBCZhymPPQFcF0DK+JkRpw=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

        <script th:inline="javascript">

            // validation
            const form = document.querySelector("#form")

            $('#form').validate({
                rules: {
                    title: {
                        required: true
                    },
                    content: {
                        required: true
                    },
                    description: {
                        required: true
                    },
                },
                messages: {
                    title: {
                        required: "Title không được để trống"
                    },
                    content: {
                        required: "Content không được để trống"
                    },
                    description: {
                        required: "Description không được để trống"
                    },
                },
                errorElement: 'span',
                errorPlacement: function (error, element) {
                    error.addClass('invalid-feedback');
                    element.closest('.form-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });

            //Initialize Select2 Elements
            const roleEl = $("#role")
            roleEl.select2();

            // Initialize editor
            const easyMDE = new EasyMDE({
                element: document.getElementById("content"),
                spellChecker: false,
                maxHeight: "500px",
                renderingConfig: {
                    codeSyntaxHighlighting: true,
                },
            });

            // render image
            const imageContainer = document.querySelector(".image-container")
            const choseImageBtn = document.querySelector("#btn-chose-image")
            const deleteImageBtn = document.querySelector("#btn-delete-image")
            const thumbnailEl = document.querySelector("#thumbnail")


            const renderImage = (images) => {
                let html = "";
                images.forEach(image => {
                    html += `
                    <div class="image-item" onclick="choseImage(this)" data-id="${image.id}">
                        <img src="/api/v1/images/${image.id}" alt="">
                    </div>
                `
                })
                imageContainer.innerHTML = html;
            }
            let imageList = [[${images}]]
            console.log(imageList)

            const renderPagination = (imageList) => {
                console.log("Render Pagination : ", imageList)
                $('.pagination-container').pagination({
                    dataSource: imageList,
                    pageSize: 8,
                    callback: function (data, pagination) {
                        renderImage(data);
                    }
                })
            }
            renderPagination(imageList);

            // upload file
            const upLoadBtn = document.querySelector("#avatar");
            upLoadBtn.addEventListener("change", async (e) => {
                const file = e.target.files[0];

                const formData = new FormData();
                formData.append("file", file)
                try{
                    const res = await axios.post("http://localhost:8080/api/v1/admin/images", formData)
                    imageList.unshift(res.data)
                    renderPagination(imageList)
                    console.log(res.data)
                }catch (e){
                    console.log(e)
                }
            })

            // Xu li anh
            const choseImage = el => {
                const selectedEl = document.querySelector('.image-item.selected');
                if (selectedEl) {
                    selectedEl.classList.remove('selected');
                }
                el.classList.add('selected');

                choseImageBtn.disabled = false;
                deleteImageBtn.disabled = false;
            }

            // Xóa ảnh
            deleteImageBtn.addEventListener('click', async () => {
                const selectedEl = document.querySelector('.image-item.selected');
                const imageId = selectedEl.dataset.id;
                console.log(typeof imageId)

                try {
                    const res = await axios.delete(`http://localhost:8080/api/v1/admin/images/${imageId}`)
                    console.log("Before", imageList)
                    imageList = imageList.filter(image => image.id !== Number(imageId));
                    console.log("After", imageList)
                    renderPagination(imageList);

                    choseImageBtn.disabled = true;
                    deleteImageBtn.disabled = true;
                } catch (error) {
                    console.log(error)
                }
            })

            // Chon anh
            const modalEl = document.querySelector("#modal-xl")
            const closeBtn = document.querySelector(".close")

            choseImageBtn.addEventListener("click", () =>{
                const selectedEl = document.querySelector('.image-item.selected');
                const imageId = selectedEl.dataset.id;
                thumbnailEl.src = `/api/v1/images/${imageId}`
                closeBtn.click()
            })
            // xoa blog
            const deleteBlogBtn =  document.querySelector("#delete-blog")
            const blog = [[${blog}]]
            console.log(blog.id)
            deleteBlogBtn.addEventListener("click", async ()=>{
                const isDelete = confirm("ban chac chan muon xoa")
                if(!isDelete) return
                try{
                    const res = await axios.delete(`/api/v1/admin/blogs/${blog.id}`)
                    console.log(res)
                    if (res.status === 204) {
                        toastr.success("xoa blog thanh cong")
                        setTimeout(() => {
                            window.location.href = `/admin/blogs`
                        }, 1500)
                    }
                }catch (e){
                    console.log(e)
                    toastr.error(e.response.data.message)
                }
            })

            // update blog
            const saveBtn = document.querySelector("#save")
            const titleEl = document.querySelector("#title")
            const descriptionEl = document.querySelector("#description")
            const statusEl = document.querySelector("#status")

            saveBtn.addEventListener("click", async ()=>{
                let blogUpdate = {
                    title: titleEl.value,
                    description: descriptionEl.value,
                    content: easyMDE.value(),
                    thumbnail: thumbnailEl.src,
                    status: statusEl.value === "true",
                    categoryIds: categoryEl.val().map(id => Number(id))
                }
                console.log(blogUpdate)

                try{
                    const res = await axios.put(`/api/v1/admin/blogs/${blog.id}`, blogUpdate)
                    if (res.status === 200) {
                        toastr.success("cap nhat blog thanh cong")
                        setTimeout(() => {
                            window.location.href = `/admin/blogs/${res.data.id}/detail`
                        }, 1500)
                    }
                } catch (e) {
                    toastr.error(e.response.data.message)
                }
            })

        </script>
    </th:block>

</body>

</html>