<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />
    <title>Tags | Kong's Blog</title>
    <link crossorigin="anonymous" href="/css/style.css"
        rel="preload stylesheet" as="style" />
    <link rel=icon href=/img/umaru.PNG>
    <link rel=icon type=image/png sizes=16x16 href=/img/umaru.PNG>
    <link rel=icon type=image/png sizes=32x32 href=/img/umaru.PNG>
</head>

<body class="list" id="top">
    <header class="header">
        <nav class="nav">
            <div class="logo">
                <a href="/static">Kong.dev</a>
            </div>
            <ul id="menu">
                <li>
                    <a href="/search"><span>Search</span></a>
                </li>
                <li>
                    <a href="/categories"><span>Tags</span></a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="main" >
        <header class="page-header">
            <h1>Tags</h1>
        </header>
        <ul class="terms-tags">
            <li th:each="tag : ${categoryList}">
                <a th:href="@{|categories/${tag.name}|}"> <th:block th:text="${tag.name}"></th:block>
                    <sup><strong><sup><th:block th:text="${tag.used}"></th:block></sup></strong></sup></a>
            </li>
        </ul>
    </main>
</body>

</html>