<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="admin-layout(title, css, content, js)">
<head>
    <meta charset="UTF-8">
    <title th:replace="${title}">Title</title>
    <!--    CSS-->
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <th:block th:replace="${css} ?: ~{}"></th:block>
</head>
<body>
<!--HEADER-->
<th:block th:replace="~{fragments/fragment :: admin-header}"></th:block>

<!--CONTENT-->
<th:block th:replace="${content} ?: ~{}"></th:block>

<!--FOOTER-->


<!--JS-->
<th:block th:replace="${js} ?: ~{}"></th:block>
</body>
</html>